<h1>Point of Attraction</h1>
<p>It only takes 68 seconds</p>

<%# link_to "Start", home_start_path, id: "start-button"%>
<%= link_to "Start", "#", id: "start-button", remote: true %>
<%= link_to "Stop", "#", id: "stop-button", remote: true %>
<%= link_to "Reset", "#", id: "reset-button", remote: true %>

<br>
<br>
<div id="main-timer-container">
  <%= render 'circle' %>
  <span id="timer">0</span>
</div>
<div id="timers-container">
  <h1 id="timer-1">0</h1>
  <h1 id="timer-2"> </h1>
  <h1 id="timer-3"> </h1>
  <h1 id="timer-4"> </h1>
</div>

<br>
<br>
<div class="disclaimer">
  Warning: Only use this app if you want amazing things to be manifested into your life!
</div>
