<h1>Point of Attraction</h1>
<p>It only takes 68 seconds</p>

<%# link_to "Start", home_start_path, id: "start-button"%>
<%= link_to "Start", "#", id: "start-button", remote: true %>
<%= link_to "Stop", "#", id: "stop-button", remote: true %>
<%= link_to "Reset", "#", id: "reset-button", remote: true %>

<br>
<br>
<div id="main-timer-container">
  <%# render 'circle' %>
  <span id="timer">0</span>
</div>
<div id="timers-container">
  <div id="timer-1">0</div>
  <div id="timer-2"> </div>
  <div id="timer-3"> </div>
  <div id="timer-4"> </div>
</div>

<audio id="bell-tone" class="audio_player" preload="auto">
  <source src="<%= asset_path('196107__aiwha__bell.wav') %>" type="audio/wav">
</audio>

<br>
<br>
<div class="disclaimer">
  Warning: Only use this app if you want amazing things to be manifested into your life!
</div>
